INTRO TO JUPYTER
we can write markdown or python codes in our cells

In [4]:
a=10
print(a)

10

In [6]:
a
print(a)

10

In [25]:
print(12)

12

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
#print function work
print(a,end=' ')
print(12)
print(13)

10 12
13

In [26]:
#last line is the output here
a =10
b=50

print(a+10)
print(b)

20
50

In [37]:
#type is used to check type
#can also store complex numbers
a=12+3j
b =19
print(type(a))
print(type(b))

<class 'complex'>
<class 'int'>

In [54]:
#operators->+,-,*
d =14
c = a+b
print(c)
print(a/b)
print(d/b)#//is used for the floor division

print(d**b)#power functiomn using **

# we can make variable like
a,b = 2,2+5j
a
b

(4+5j)
(0.13793103448275862-0.3448275862068966j)
(0.9655172413793105-2.413793103448276j)
(158.49846672012112+115.30063333464676j)

(2+5j)

In [63]:
#python strings doest matter if single of double quotes 
a="deepak"
#print(type(a))

#strings are immutable
#a[0]='d' this will give error as it doesn't support item assignment
print(type('a'))
print(type('deepak'))

<class 'str'>
<class 'str'>

In [67]:
#function for strings

a ="abc"
print(a.upper())
print(a)#a will reamin unchanged as the function upper makes a new strings and its totally a new string

ABC
abc

In [2]:
#strip function
#removes the spaces from the end and the beginning

a="   deepak    "

a=a.strip()
a.isalpha()

True

In [5]:
a = input()
print(a)

23
23

In [7]:
type(a)#user input is by default string

str

In [11]:
s="abcd"
print(s+str(12))

abcd12

In [14]:
#negative indexing
s ="abc"
print(s[0])
print(s[-3])

a
a

In [21]:
#slicing
s[1:2]
print(s[0:3])#slicing
print(s[0:])#just define the starting
print(s[::-1])#reverse the string

abc
abc
cba

In [26]:
s[-1:]
s="abcdefghi"
s[-3:-1]

'gh'

In [42]:
#tuples support diffrent types of entitites together
t=(1,2,3)
print(t[0])
print(t[-1])

t=(1,"deepak",1.23)
type(t)
#tuples are immutable
#tuples support slicing

t[0:2]
#below operator work
t+t
t*2
t*3

"deepak" in t

1
3

True